.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
}

.center-glow {
  display: none;
}

.title {
  position: absolute;
  top: calc(50% - 80px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 2;
  pointer-events: none;
}

.drain-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
