.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
}

.coin-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
